<section id="content">
<div class="sub-content">
  <div class="container">
  	<div class="row">
      <div class="span10 offset2">  

<%= simple_form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	</div>
	<div class="row">
	<div class="span3 offset1">

  		<div class="field">
    		<%= f.label :name %><br />
    		<%= f.text_field :name %>
  		</div>
  		<div class="field">
    		<%= f.label :description %><br />
    		<%= f.text_field :description, :class =>"input-large" %>
  		</div>
	</div>
	
	<div class="span4">
  		<div class="field">
    		<%= f.label :priority %><br />
    		<%= f.number_field :priority %>
  		</div>
  		<div class="field">
    		<%= f.label :rank %><br />
    		<%= f.number_field :rank %>
  		</div>
  		<div class="field">
    		<%= f.label :tier %><br />
    		<%= f.number_field :tier %>
  		</div>
	</div>
	</div>
	
	<div class="row">
	<div class="span8 offset1">
  		<div class="clearfix">
    		<%= f.label :rich_description %><br />
			<%= f.cktext_area :rich_description, :value => "Default value", :id => "rich_text_description" %>
		</div>
	</div>
	</div>
  
	<div class="span8 offset1 actions">
    	<%= f.submit :class=>"btn btn-info" %>
  	</div>

<% end %>

  </div>
</div>
</div>
</div>
</section>

